@font-face {
    font-family: 'Monton';
    src: url(https://www.dafontfree.co/monton-font/);
  }

* {
    border: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: url(../static/images/white-background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.head-block {
    background-color: #ffffff;
    width: 100%;
    height: 13vh;
    z-index: 1;
    position: fixed;
}

.flash-msg {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    font-weight: bolder;
    background-color: #399DFA;
    color: #ffffff;
    font-size: 1em;
    height: 3vh;
    margin-top: 6.6%;
    padding-top: .7%;
    

}

p {
    text-align: center;
    font-family: 'Roboto';
    font-weight: bolder;
    color: #399DFA;
    margin-top: 10%;
    z-index: -2;
}

.page-header {
    text-align: center;
    font-family: 'Roboto';
    font-weight: bolder;
    color: #399DFA;
    margin-top: 1%;
    font-size: 30px;
    z-index: -2;
    margin-right: 70%;
    padding-top: 2.9%;
}


.images {
    height: 350px;
    width: 250px;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    object-fit: cover;
    padding-left: 60px;
    margin-top: -32%;
    z-index: -40;
    
}

.row {
    text-decoration: none;
    justify-content: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 7%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.contents {
    
    flex-direction: column !important;
    font-size: 18px;
    color: #399DFA;
    text-decoration: none;
    transition: ease-out .25s;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 50%;
    padding-left: 20%;
}

.contents:hover {
    /* color: #0f77da; */
    text-decoration: none;
    transition: ease-in-out .25s;
}

.img {
    height: 750px;
    width: 650px;
    object-fit: cover;
    margin-left: -46%;
    margin-top: -6%;
}

.price {
    position: relative;
    color: #399DFA;
    margin-left: 10%;
    margin-top: -53%;
    padding-bottom: 7%;
    font-weight: bolder;
    font-size: 25px;
    
}

.all_details {
    margin-left: 40%;
    margin-top: 12%;
    font-family: 'Roboto';
    font-weight: bolder;
}

li a {
    text-decoration: none; 
}



.nav4 {
    padding-right: 5%;
    padding-left: 3%;
}

.nav3 {
    padding-right: 5%;
    
}

.nav1 {
    padding-right: 4%;
}

.nav2 {
    color: #399DFA;
    transition: ease-out .25s;
    margin-top: -2px;
}

.nav2:hover {
    transition: ease-out .25s;
    transition: ease-in-out .25s;
    color: #ffffff;
    border: #399DFA 2px solid;
    background-color: #399DFA;
    border-radius: 10%;
}

.coupons {
    padding-right: 7%;
}

ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: right;
    padding-right: 5%;
    margin-top: -2%;
}


.nav a {
    justify-content: right;
    color: #399DFA;
    font-family: 'Roboto';
    font-weight: bolder;
    text-decoration: none;
    transition: ease-out .25s;
    position: fixed;
    margin-top: 3.7%;
    font-size: 20px;
    z-index: 30;
}
.nav a:hover {
    transition: ease-in-out .25s;
    color: #ffffff;
    border: #399DFA 2px solid;
    background-color: #399DFA;
    border-radius: 10%;
}


.logo {
    color: #399DFA;
    font-family: 'Roboto';
    font-weight: bolder; 
    margin-top: -1%;
    margin-left: 4%;
    height: 100px;
    width: 100px;
    padding-bottom: 3.6%;
    image-rendering: crisp-edges;
    transition: ease-out .5s;
    position: fixed;
    z-index: 2;
}

.logo:hover {
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all .5s ease;
}

.allfields {
    display: flex;
    flex-direction: row;
    margin-left: 36%;
    margin-top: -10%;
    z-index: 3;
    color: #399DFA;font-family: 'Roboto';
    font-weight: bolder;
    text-align: center;
    padding-bottom: 5%;
    
}

.margin-top {
    margin-top: 3em;
}

.border {
    border: 5px solid #399DFA;
    width: 36%;
    height: 500px;
    position: relative;
    margin-left: 33%;
    margin-top: -15%;
    z-index: -1;
    border-radius: 3%;
    margin-top: 15%;
}

.item-name {
    color: #399DFA;
    font-family: 'Roboto';
    font-weight: bolder;
    margin-left: 10%;
    margin-top: 10%;
    
}

.item-name2 {
    color: #399DFA;
    font-family: 'Roboto';
    font-weight: bolder;
    padding-bottom: 3%;
    text-align: left;
    margin-top: 5%;
    font-size: 15px;
}

.sub {
    background-color: #399DFA;
    border-color: #399DFA;
    border-radius: 10%;
    transition: ease-out .25s;
    font-family: 'Roboto';
    font-weight: bolder;
    color: white;
}



.sub:hover {
    transition: ease-in-out .25s;
    color: #399DFA;
    background-color: white;
}

#sub1 {
    margin-top: 5%;
    align-items: center;
    height: 40px;
    width: 30%;
    font-size: 20px;
}

#sub2 {
    margin-top: 5.5%;
    align-items: center;
    height: 40px;
    width: 30%;
    font-size: 20px;
}

#sub3 {
    margin-top: 140%;
    margin-left: -770%;
    background: none;
    border: none;
    color: #399DFA;
    font-family: 'Roboto';
    font-weight: bolder;
    transition: ease-out .25s;
    font-size: 30px;
}



#sub3:hover {
    color: #0f77da;
    transition: ease-in-out .25s;
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

 .field2 {
    margin-top: -10.35%;
   
}

.field1 {
    padding-right: 5%;
    margin-top: -10%;
} 

.input-style {
    color: #000000;
}


.email {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
    width: 273px;
    margin-top: -20%;
    font-size: 30px;
}

h2 {
    margin-top: -50%;
    padding-bottom: 30%;
    font-family: 'Roboto';
    font-weight: bolder;
    color: #399DFA;
    font-size: 35px;
}


.password {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
    width: 273px;
    font-size: 30px;
    
    
}

.texts {
    line-height: 30px;
}

.head-img {
    margin-top: 6.7%;
    object-fit: fill;
}

.ads {
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    justify-content: center;
}

.ad1 {
    padding-right: 1%;
    transition: ease-out .25s;
}

.ad1:hover {
    padding-right: 1%;
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all ease-in-out .25s;
}

.ad2 {
    padding-left: 1%;
    transition: ease-out .25s;
}

.ad2:hover {
    padding-left: 1%;
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    transition: all ease-in-out .25s;
}

.btn {
    position: relative;
    margin-left: 48%;
    margin-top: 1%;
    color: #399DFA;
}

.details-p {
    padding-bottom: 3%;
    font-family: 'Roboto';
    margin-left: 2.35%;
}

.submit {
    position: relative;
    margin-left: -4.7%;
    top: -130px;
    color: #ffffff;
    font-family: 'Roboto';
    font-weight: bolder;
    text-align: center;
    background-color: #399DFA;
    border: #399DFA solid 2px;
    transition: ease-out .25s;
    padding-right: 11px;
    padding-left: 9px;
    width: 16%;
    height: 50px;
    font-size: 25px;
}

.submit:hover {
    transition: ease-in-out .25s;
    background-color: #84c1fa;
    border-color: #84c1fa;
    transform: matrix3d(1.1, 0, 0, 0, 0, 1.1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
}

.quantity {
    margin-top: -15%;
    color: #399DFA;
    margin-left: -48%;
    font-weight: bolder;
    font-size: 16px;
    
}

.amount-field {
    background-color: white;
    color: #399DFA;
    border: 2px solid #399DFA;
    border-radius: 10%;
    font-family: 'Roboto';
    font-weight: bolder;
    text-align: center;
    text-align: none;
    list-style: none;
    margin-top: .25%;
    height: 40px;
    width: 65px;
    margin-left: 1%;
    font-size: 20px;
}

.quant-form {
    color: #399DFA;
    font-family: 'Roboto';
    font-weight: bolder;
    margin-left: -19%;
    margin-top: 17%;
}

.item-descrip {
    font-size: 20px;
    color: #399DFA;
    width: 16%;
    margin-left: 45.6%;
    margin-top: -2%;
}

.descrip {
    color: #399DFA;
    /* font-family: 'Roboto'; */
    /* font-weight: bolder; */
    font-size: 1.8em;
    margin-left: -64.35%;
    margin-top: -17%;
}

.cart_row {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;

}

.checkout_images {
    margin-top: 6%;
    width: 150px;
    height: 200px;
    padding-left: 320px;
    object-fit: cover;
    z-index: -2000;
    padding-bottom: 50px;
}

.checkout-contents {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    margin-top: -13%;
    color: #399DFA;
    /* margin-left: 2%; */
    /* font-size: 1.3em; */
    z-index: -200;
}

.cart-price {
    padding-right: 80px;
    padding-left: 20px;
}

.item-name {
    color: #399DFA;
    font-family: 'Roboto';
    font-weight: bolder;
    font-size: 1.8em;
}

.item-name3 {
    color: #399DFA;
    /* font-family: 'Roboto';
    font-weight: bolder; */
    width: 70px;
    margin-left: -20%;
    padding-right: 50px;
}

.item-name:hover {
    color: #0f77da;
    font-family: 'Roboto';
    font-weight: bolder;
}

.item-name2:hover {
    color: #7cbefb;
    font-family: 'Roboto';
    font-weight: bolder;
}

.discount-img {
    margin-top: 2.2%;
}

.company-quality {
    display: flex;
    width: 50%;
    text-align: center;
    margin-left: 27%;
    font-size: 30px;
    padding-bottom: 6.5%;
}

.footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    height: 40px;
    width: 100%;
    background-color: #399DFA;
    color: white;
    text-align: center;
   
    
    
    /*brady */
    /* position: fixed;
    bottom: 0;
    width: 100%;
    height: 150px;
    background-color:#399DFA; */
}

.logos {
    font-size: 30px;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1.3%;
    margin-left: 18.5%;
}

.linked {
margin-left: -150%;
}

.insta {
margin-left: 80%;
margin-top: -130%;
}

.facebook {
margin-left: 300%;
margin-top: -138%;
}

.copyright p {
color: #ffffff;
position: fixed;
top: 77.7%;
left: 44.5%;
z-index: 100;
font-family: 'Roboto';
font-weight: bolder;
font-size: .9em;
}

.remove {
    color: #399DFA;
    margin-top: 3%;
    margin-left: 32%;
    padding-right: 50px;
    background-color: transparent;
    border: none;
    text-decoration: underline;
    transition: ease-out .25s;
}

.remove:hover {
    color: #84c1fa;
    transition: all ease-in-out .25s;
    cursor: pointer;
}

#container {
    background-color: #ffffff;
    border: 5px solid #399DFA;
    height: 275px;
    width: 750px;
    margin-top: 17%;
    margin-left: 32%;
    text-align: center;
    border-radius: 10px;
}

#btn {
    margin: 50px auto;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: #399DFA;
    color: white;
    border: #399DFA;
    border-radius: 10px;
}



#output {
    margin: 25px auto;
    font-size: 26px;
    color: #399DFA;
}
