{% extends 'base.html' %} {% block title %}Cart{% endblock %}
{% block body %}



<div>
    <ul class="cart_row">
      {% for cart_item in cart_items %}
      <li>
        <a href="/items/{{ cart_item.item.item_id }}">
          <img class="checkout_images" src="{{ cart_item.item.image_path }}">
           
            <div class="checkout-contents">
            <div class="item-name"> {{ cart_item.item.item_name }}</div> <div>{{ cart_item.item.price }}</div> 
            <div> Quantity: {{ cart_item.quantity }} </div>
          </div>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
  {% endblock %}
  
