{% extends 'base.html' %}{% block title %}Homepage{% endblock %}

{% block body %}

<div class="border">

</div>

<div class="allfields">
  <div class="field1">
  <h2>Create an Account</h2>

  <form class="form1" action="/users" method="POST">
    <p class="email">
      Email <input type="text" name="email" placeholder="Email address">
    </p>

    <p class="password">
      Password <input type="password" name="password" placeholder="Password">
    </p>

    <p>
      <input type="submit" placeholder="Create" class="sub" id="sub1">
    </p>
  </form>
  </div>


  <div class="field2">
  <h2>Log In</h2>

  <form class="form2" action="/login" method="POST">
    <p class="email">
      Email <input type="text" name="email" placeholder="Email address">
    </p>

    <p class="password">
      Password <input type="password" name="password" placeholder="Password">
    </p>

    <p>
      <input type="submit" placeholder="Login" class="sub" id="sub2">
    </p>
  </form>
</div>
</div>
{% endblock %}