{% extends 'base.html' %}{% block title %}{{ item.item_name }} - Details{% endblock %}

{% block body %}
<div class="all_details">
<div class="item-name">
  <h1>{{ item.item_name }}</h1>
</div>
<img class="img" src="{{ item.image_path }}">

<div class="price">
  {{ item.price }}
</div>

<div class="descrip">
<div class="details-p"><p> Item description : <br></div>
  <div class="item-descrip"> {{ item.description }} </div>
</p>
</div>

{% if session.get('user_email') %}

<div class="quantity">
<form action="/items/{{ item.item_id }}/carts" method="POST">
  <div class="quant-form">
  <p>
    Qty* <br>
    <select name="quantity" class="amount-field">
      <option value=""></option>
      {% for num in range(1,11) %}
      <option value="{{ num }}">{{ num }}</option>
      {% endfor %}
    </select>
  </p>
</div>
  <p><input class="submit" type="Submit" value="Add to Cart"  /></p>
</form>
</div>
</div>
</div>




{% endif %}

{% endblock %}
