{% extends 'base.html' %} 
{% block title %}landing{% endblock %}
{% block body %}


<div class="land-images">
    <div class="head-img">
        <a href="/items">
        <img src="../static/images/collection-head.jpg" alt="image" width="100%"></a>
    
<div class="ads">
        <div class="ad1">
        <a href="/items">
        <img src="../static/images/BDG-ad.jpg" alt="BDG" height="800px"></a>
    </div>
    <div class="ad2">
        <a href="/items">
        <img src="../static/images/jacke.jpg" alt="BDG" height="800px"></a>
    </div>
</div>
</div>
{% endblock %}